{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../static/trains/css/acceuil.css">
</head>
<body>
    <nav>
        <img src="{%static 'trains/img/TO.png' %}" alt="">
        <ul>
            <li><a href="#">Acceuil</a></li>
            <li><a href="/trains/random">Train aléatoire</a></li>
            <li><a href="/trains/create">Ajouter</a></li>
        </ul>
    </nav>
    <main>
        <section class="accueil">
            <div id="text">
                <h1> Bienvenue dans le site officiel de la gare de Tizi-Ouzou</h1>
                <h2>Les trains et les horraires</h2>
            </div>
            <h1 id="fleche"> &darr; </h1>
        </section>
        <div id="trains">
            <h1 id="t">Trains et Horaires:</h1>
            <p>Nombre de voyages d'aujourd'hui : {{n}}</p>


            <div class="cards">

                {% for i in trains %}                
                    <div class="card">
                        <h1>{{i.destination}}</h1>
                        <p>{{i.h_depart}}</p>
                        <a href="./show/{{i.id}}"> voir</a>
                    </div>
                {% endfor %}
            </div>
                

        </div>
    </main>
</body>
<script>
    let down = document.querySelector('#fleche')
    let a = document.querySelector('#trains')

    down.addEventListener('click', function(){
        window.scrollTo({
        top:a.offsetTop,
        behavior : "smooth"
    })
    })
</script>
</html>